
#followUp2a {
  display: none;
}

#followUp2b {
  display: none;
}

#followUp2c {
  display: none;
}

#followUp3 {
  display: none;
}

#result {
  display: none;
}

#result1 {
  display: none;
}

#result2 {
  display: none;
}

#result3 {
  display: none;
}

li {
  margin-top:center;
  text; center


}
